div.container-one
  div.container-one-content
    div.container-one-content-fon
      div.container-one-content-menu
        a(href="").item главная
        a(href="").item зарабатывать с donson
        a(href="").item о компании
        a(href="").item продукция и цена
        a(href="").item начать сотрудничество
        a(href="").item аналитика
        a(href="").item маркетинг
        a(href="").item контакты
      h1.container-one-content-title станьте эксклюзивным дистрибьютером donson в своем регионе
      div.container-one-content-banner
        h2.container-one-content-banner_text-1 и зарабатывайте от 500 тыс. руб в месяц
        p.container-one-content-banner_text-2 на обпотомй продаже текстиля для сна
        p.container-one-content-banner_text-3 гарантия выхода на прибыль уже в первый месяц
        div.container-one-content-banner_introduction Это возможно, поскольку мы обеспечим Вас текстильной продукцией
          |высокого качасива и клиентами из Вашего региона,заинтересованных в оптовых закупках небольщими партиями
          p.container-one-content-banner_introduction-1 Мы поможем Вам собрать или улучшить уже имеющуюся команду,
          |проведем обучение Вас и персонала, научим
          |наращивать объем продаж.
          |С вами будет работать наш персональный менеджер, который поможет Вам в этом
          p.container-one-content-banner_introduction-1 *Обычно наши дистрибьюторы через 3 месяца становятся самыми
          |крупными текстильными компаниями в своем
          |регионе и расширяют бизнес на соседние
        div.container-one-content-banner_button
          a(href="#form").header-top-right-button
            span.header-top-right-button-text узнать подробнее
          a(href="").arrow
            include ../Icons/arrow
        div.container-one-content-fon_matrac
          img(src='./static/images/123.png', alt='link')
