div.container-two
  div.container-two-content
    div.container-two-content-title Посмотрите короткое видео
      p.container-two-content-subtitle что бы узнать подробнее о нашем предложение для дистрибьютеров
  div.container-two-content-block
    a(name="form")