header.header
  div.header-top
    div.header-top-container
      div.header-top-left
        img(src='../static/images/logo.png', alt='логотип')
        p.header-top-left-logo-text производство текстиля для сна
      div.header-top-right
        div.header-top-right-phone
          div.header-top-right-phone-container
            img(src='../static/images/tel.png', alt='call')
            p.header-top-right-num &nbsp;8&nbsp;(800)&nbsp;555-35-35
          p.header-top-right-phone-text Отдел по работе с дистрибьюторами
        a(href="").header-top-right-button
          span.header-top-right-button-text заказать звонок
